* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("../IMG/wallpaper.png") no-repeat center center;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -2;
}

header {
    background: #94c6ff;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    margin-right: 100px;
    margin-left: 100px;
    color: #0b0a4d;
    font-weight: bold;
    text-decoration: none;
}

.ajuste {
    margin-left: 30%;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

form {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    color: #fff;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    resize: none;
    min-height: 100px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #2a47ec;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #02a839;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #037729;
}

footer {
    background: #343392;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

form {
    width: 100%;
    max-width: 400px;
}